body {
    font-family: Arial, sans-serif;
}

.img-fluid-logo{
    width: 250px; 
    height: auto;
    position: relative;
    transition: all 0.5s ease-in-out;  
    left: 0;
    margin: 20 auto;
}

.hero {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.img-fluid{
    width:80%;
    height: auto;
}
.sub-title{
    font-size: 25px;
    font-weight: bold;
    margin-top: 15px;
}

footer {
    background-color: #333;
    color: white;
}


.nav-link {
    color:black !important;
}

.nav-link:hover {
    color: grey !important;
}

.burger-icon{
    display:none;
}

@media (max-width: 768px) {
    .hero {
        text-align: center;
    }

    .img-fluid-logo{
        left: 60%;  
        transform: translateX(-50%);
    }

    /* .nav-list{
        text-align: center;
        display:none;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        position: relative;
        right: 0;
        top: 60px;
        width: 200px;
        margin-top:0px;

    }
    .nav-list.active {
        display: flex;
    }
    .burger-icon{
        display:inline-block;
    }
    
    .burger-icon:hover{
        cursor: pointer;
    } */
    .nav {
        display: none;
        flex-direction: column;
        position: relative;
        right: 0px;
        top: 0px; 
        left:80px;     
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
        width: 100px;
        text-align:center;
        padding: 0px 0;
        line-height: 0px;
    }

    /* Show navigation when active */
    .nav.active {
        display: flex;
    }

    .burger-icon {
        display: inline-block;
    }

    .burger-icon:hover {
        cursor: pointer;
    }

    .nav-item {
        padding: 10px 20px;
    }

    .nav-link {
        display: block;
        width: 100%;
        padding: 10px;
    }
}
